<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html ; charset=UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width-device-width, initial-scale = 1">
  <!--Bootstrap files -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="/css/coursedetails.css" rel="stylesheet">
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4 class="b" href="#">Stevens Milee</h4>
      </div>

    </div>
  </nav>


  <div class="container">
    <div class="col-md-6">
      <div class="d-flex justify-content-left h-100">
        <div class="image_outer_container">
          <div class="green_icon"></div>
          <div class="image_inner_container">
            <img src="/images/top-10-books-every-college-student-read-1024x640.jpeg">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h4 class="courseName">Course Name: SSW 564 Fundamentals of Software Engineering</h4>
    </div>

    <!--Professor Information-->
    <div class="col-md-6">
      <h4 class="profName">Professor: <a href="professor.html">
          <p class="desc">Dr. Roberta Cohen
        </a></p>
      </h4>
      <h4 class="profName">Teaching Mode: <p class="desc">On-campus/Web</p>
      </h4>
      <h4 class="profName">Course Description: <p class="desc">This course introduces the subject of software
          engineering, also known as software development process
          or software development best practice from a quantitative, i.e., analytic- and metrics-based point of view.
          Topics include introductions to: software life-cycle process models from the heaviest weight, used on very
          large
          projects, to the lightest weight, e.g., extreme programming; industry-standard software engineering tools;
          teamwork; project planning and management; object-oriented analysis and design. The course is case history and
          project oriented.</p>
      </h4>

    </div>

    <!--Comments Section-->
    <div class="container">
      <div class="col-md -6">
        <h4 class="commentName">Add comments:</h4>
      </div>

      <div class="alert alert-primary n" role="alert">
        Lots of new things to learn in this course.
      </div>

      <div class="alert alert-primary s" role="alert">
        Assignments are well aligned with course
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <input type="email" class="form-control" placeholder="Your review?">
            </div>
            <div class="panel-footer">


              <div class="pull-right">
                <button type="button" class="btn btn-success">Post</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

</body>

<!---JS files -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>