<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link href="/css/courses.css" rel="stylesheet">

<!--Bootstrap JS files-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <!--Heading section-->
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">Courses in your Major: Software Engineering</h5>
            <div class="row">
                <!-- Course 1 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class="img-fluid"
                                                src="/images/top-10-books-every-college-student-read-1024x640.jpeg"
                                                alt="card image"></p>
                                        <h4 class="card-title"> SSW 540 Fundamentals of Software Engineering</h4>
                                        <p class="card-text"></p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title"><a href="coursedetails.html">SSW 540 Fundamentals of
                                                Software Engineering</a></h4>
                                        <p class="card-text">This course introduces the subject of software engineering,
                                            also known as software development process
                                            or software development best practice from a quantitative, i.e., analytic-
                                            and metrics-based point of view.
                                            Topics include introductions to: software life-cycle process models from the
                                            heaviest weight, used on very large
                                            projects, to the lightest weight, e.g., extreme programming;
                                            industry-standard software engineering tools;
                                            teamwork; project planning and management; object-oriented analysis and
                                            design. The course is case history and project oriented.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Course 2--> 
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid"
                                                src="/images/top-10-books-every-college-student-read-1024x640.jpeg"
                                                alt="card image"></p>
                                        <h4 class="card-title">SSW 555 Agile Methods for Software Development Method
                                        </h4>
                                        <p class="card-text"></p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">SSW 555 Agile Methods for Software Development Method
                                        </h4>
                                        <p class="card-text"> In software problem areas that require exploratory
                                            development efforts, those with complex requirements and high levels of
                                            change,
                                            agile software development practices are highly effective when deployed in a
                                            collaborative, people-centered organizational culture.
                                            This course examines agile methods, including Extreme Programming (XP),
                                            Scrum, Lean, Crystal, Dynamic Systems Development Method and
                                            Feature-Driven Development to understand how rapid realization of software
                                            occurs most effectively. The ability of agile development
                                            teams to rapidly develop high quality, customer-valued software is examined
                                            and contrasted with teams following more traditional
                                            methodologies that emphasize planning and documentation.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Course 3 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid"
                                                src="/images/top-10-books-every-college-student-read-1024x640.jpeg"
                                                alt="card image"></p>
                                        <h4 class="card-title">SSW 564 Software Requirements Analysis and Engineering
                                        </h4>
                                        <p class="card-text"> </p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">SSW 564 Software Requirements Analysis and Engineering
                                        </h4>
                                        <p class="card-text">Requirements Acquisition is one of the least understood and
                                            hardest phases in the development of software products, especially
                                            because requirements are often unclear in the minds of many or most
                                            stakeholders. This course deals with the identification
                                            of stakeholders, the elicitation and verification of requirements from them,
                                            and translation into detailed requirements
                                            for a new or to-be-extended software product. It deals further with the
                                            analysis and modeling of requirements, the first steps in the
                                            direction of software design. The quality assurance aspects of the software
                                            requirements phase of the software development process
                                            is studied. Also an introduction to several formal methods for requirements
                                            specification is presented
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Course 4 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid"
                                                src="/images/top-10-books-every-college-student-read-1024x640.jpeg"
                                                alt="card image"></p>
                                        <h4 class="card-title">SSW Software Architecture and Component-Based Design
                                        </h4>
                                        <p class="card-text"> </p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">SSW 565 Software Architecture and Component-Based Design
                                        </h4>
                                        <p class="card-text">This course introduces students to the software design
                                            process and it’s models; representations of design/architecture; software
                                            architectures and design plans; design methods; design state assessment;
                                            design quality assurance; and design verification.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Course 5-->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid"
                                                src="/images/top-10-books-every-college-student-read-1024x640.jpeg"
                                                alt="card image"></p>
                                        <h4 class="card-title">SSW 567 Software Testing, Quality Assurance and
                                            Maintenance</h4>
                                        <p class="card-text"></p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">SSW 567 Software Testing, Quality Assurance and
                                            Maintenance</h4>
                                        <p class="card-text">This course introduces students to systematic testing of
                                            software systems, software verification, symbolic execution, software
                                            debugging, quality assurance, measurement and prediction of software
                                            reliability, project management, software maintenance, software
                                            reuse and reverse engineering. </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Course 6 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid"
                                                src="/images/top-10-books-every-college-student-read-1024x640.jpeg"
                                                alt="card image"></p>
                                        <h4 class="card-title">SSW 533 Cost Estimation and Measurement</h4>
                                        <p class="card-text"></p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">SSW 533 Cost Estimation and Measurement</h4>
                                        <p class="card-text">The course deals with the management of software projects
                                            using objective metrics that help developers and managers to understand
                                            the scope of the work to be accomplished, the risks that will occur, the
                                            tasks to be performed, the resources and effort to be expended,
                                            and the schedule to be observed. </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Course 7 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid"
                                                src="/images/top-10-books-every-college-student-read-1024x640.jpeg"
                                                alt="card image"></p>
                                        <h4 class="card-title">SSW 695 Software Engineering Studio (Capstone)</h4>
                                        <p class="card-text"></p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">SSW 695 Software Engineering Studio (Capstone)</h4>
                                        <p class="card-text">Software engineering studio course. </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--JS files--> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
</body>
</html>